# Settings for AWS VPC, Network etc
aws_region = ""
var_aws_core_vpc_cidr = ""
var_aws_core_subnet_cidr1 = ""
var_aws_core_az_1 = ""
var_additional_public_cidrs = ["127.0.0.1/32"]
var_aws_subnet2_cidr = ""
var_aws_subnet2_az = ""

# Settings for EC2 instance
aws_ami_id = ""
aws_ec2_instance_count = ""
aws_ec2_instance_type = ""
aws_ec2_key_name = ""
aws_ec2_sg_id = ""
aws_ec2_subnet_id = ""
aws_ec2_volume_size = ""

# Tagging Settings
var_owner_tag = ""
var_environment_tag = ""
var_prefix_tag = ""
